
nav {
    background: url('uploads/66680b3a0a99f7.57254108.png') no-repeat center center fixed;
    background-size: cover;
}





.table table-bordered {
    background: url('uploads/666808e45d66e-tintin2023\ \(1\).png') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh; /* Adjust as needed */
    padding: 20px; /* Adjust as needed */
}

